# Virtual environments
.venv/
.venv
venv/
venv
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ignore data folder and CSV files under data (any level)
data/
data/**/*.csv
data/*.csv
custom/
custom/cache/
custom/**/*

# BUT keep these files
!data/**/README.md
